.bike_book_now_button a{
    display: block;
    margin: 0 auto;
}

#bikes_search_bar{
    padding: 10px 10px 10px 20px;
    width: 80%;
    display: block;
    margin: 50px auto;
    outline: none;    
}

@media only screen and (max-width: 600px) {
    #bikes_search_bar{ 
        width: 100%; 
        border-radius: 25px;
        border: 1px solid black;
    }
  }